.search-results {
    display: block;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.search-item{
    



}