.summ-card{
    border-color: #00BDD6FF;
    border-radius: 8px;
}

.pay-card{
    border: 1px solid #00BDD6FF;
    border-radius: 8px;
    padding: 8px;
}

.summ-text{
    font-size: 18px;
    font-weight: 700;
    color: #171A1FFF;
    margin-left: 10px;

}

.price-cat{
    font-size: 14px;
    font-weight: 400;
    color: #171A1FFF;
}

.price-amt{
    font-size: 14px;
    font-weight: 700;
    color: #171A1FFF;

}

.price-total{
    font-size: 24px;
    font-weight: 700;
    color: #6025D8FF;
}

.bin-btn:hover{
    color:#f30020 !important ;
    cursor: pointer;
}