.day-format{
    font-size: 40px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.month-format{
    font-weight: 500;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);

}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
.session-button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.modal-booking {
    background-color: rgba(0, 0, 0, 0.493);
}

.div-dis {
    /* background-color: #928888; */
    /* Grey background color */
    opacity: 0.5;
    /* Reduced opacity to make it appear disabled */
    /* Prevent interactions with the div */
}

