.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black; 
}

.custom-heading {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.slideshow-cursor{
    cursor: pointer;
}